<div class="canvas-container" (click)="onDivClick()">
  <canvas class="canvas" #canvasElement></canvas>
</div>


<div class="toolbar icon-container">
  <div class="box" ><button (click)="pentoggle()"><i id="pen-icon" class="fas fa-pen "></i>Pen</button></div>
  <div class="box" ><button (click)="addRectangle()"><i id="shapes-icon" class="fas fa-shapes "></i>Shapes</button></div>
  <div class="box" ><button (click)="clearCanvas()"><i id="erase-icon" class="fas fa-eraser "></i>Eraser</button></div>
  <div class="box"><button id="draw-icon" ><i class="fas fa-pencil-alt "></i> Erase</button></div>
  <div class="box"><button id="select-icon" (click)="select()"><i class="fas fa-mouse-pointer "></i> Select</button></div>
  <div class="box"><button id="erase-icon" ><i class="fas fa-eraser "></i> Erase</button></div>
  <div class="box"><button id="type-icon" (click)="text()"><i class="fas fa-font "></i> Text</button></div>
  <div class="box"><button  type="file" id="imageUpload" accept="image/*" id="image-icon"><i class="fas fa-plus "></i> Image</button></div>
  <!-- <div class="box"><button id="undo-icon" (click)="lasso()"><i class="fas fa-undo"></i> Lasso</button></div>
  <div class="box"><button id="undo-icon" (click)="strictlasso()"><i class="fas fa-undo"></i>St Lasso</button></div>
  <div class="box"><button id="undo-icon" (click)="Middlelasso()"><i class="fas fa-undo"></i>New Lasso</button></div> -->
</div>


<div class="pen-toggle-div" *ngIf="showpendiv">
  <div class="heading">Draw</div>

  <div class="subheading">
      <button class="pen" (click)="pen()" [class.ispen]="ispen">Pen</button>
      <button class="highlighter" (click)="highlighter()" [class.highlighted]="isHighlighted">Highlighter</button>
  </div>


  <div class="heading">Thickness</div>

  <div class="brush-controls">
      <input type="range" id="brushWidth" name="brushWidth" min="1" max="20" step="1" [(ngModel)]="brushWidth"
          (input)="onChangeBrushWidth($event)">
      <div class="width">{{ brushWidth }}</div> <!-- Display current brush width -->
  </div>

  <div class="heading">Colour</div>

  <div class="colour-controlls">
      <div class="color-palette">
          <div *ngFor="let color of colors" class="color-box" [style.background-color]="color" [class.selected]="isSelected(color)" (click)="changeColor(color)"></div>
        </div>
  </div>

</div>


<!-- <tour-step-template></tour-step-template> -->

<!-- 
<div class="card" *ngIf="!do">
  <div class="Toolsmainheading d-flex justify-content-center">Draw</div>

  <div>
      <p class="text-left headingsofdraw">Tool</p>
      <div class="drawpenicons">
          <div class="drawtoolEachpenicon">
              <button (click)="pendraw()" id="pen" class="pencard" >
                   Pencil 
              </button>
          </div>
          <div class="drawtoolEachpenicon">
              <button id="high" class="pencard" (click)="hightlighter()">
                  Highlighter  
              </button>
          </div>
      </div>
  </div>

</div>
  <hr class="drawtoolhr" />

  <div class="slidecontainer">
      <label for="thicknessRange" class="text-left headingsofdraw">Thickness</label>
      <div class="d-flex align-items-center">
        <input 
          type="range" 
          min="1" 
          max="10" 
          id="thicknessRange" 
          class="slider" 
          (input)="thicknesschanged($event)" 
          [(ngModel)]="thick" 
        />
        <span class="thickstyle ml-2">{{ thick }}</span>
      </div>
    </div> 

  <hr class="drawtoolhr" />

  <div>
      <p class="text-left headingsofdraw">Color</p>
  </div>

  <div class="colorpalette">
      <div class="color-row">
      
          <div class="color-circle" [style.background]="'#ff0000'" (click)="applyColorAndHighlight('#ff0000')">
          </div>
          <div class="color-circle" [style.background]="'#ff0000'" (click)="applyColorAndHighlight('#ff0000')">
          </div>
          <div class="color-circle" [style.background]="'#fff000'" (click)="applyColorAndHighlight('#ff0000')">
          </div>
          <div class="color-circle" [style.background]="'#ff0000'" (click)="applyColorAndHighlight('#ff0000')">
          </div>
          <div class="color-circle" [style.background]="'#ff0000'" (click)="applyColorAndHighlight('#ff0000')">
          </div>
           
      </div>
  </div>
-->